* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}


#home {
    background-size: cover;
    font-family: 'Inter', sans-serif;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 0px;
    box-sizing: border-box;
}

#about {
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    height: 100vh;
}

#contact {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    height: 100vh;
}

#find {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    height: 100vh;
}

#signhome {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    height: 100vh;
    
}

form {
    display: block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 0 auto 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    width: 400px;
    background-color: #53b658;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    
    
  }
  
  .modal-content {
    font-family: 'Inter', sans-serif;
    margin: 10% auto;
    padding: 20px;
    width: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 15px; 
    cursor: pointer;
    z-index: 1000;
    transform: rotate(0deg);
}


.close:hover {
    color: black;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    width: 80px; 
}
  

button:hover {
    background-color: #45a049;
}

.logo {
    width: 150px;
    height: auto;
}


#loghome {
   background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    height: 100vh; 
}

.sign-home {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: flex-start;
    padding-left: 20px;
}

.btn {
    background: #AF2F33;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #AF2F33;
}


h1 {
    color: #050505;
    font-size: clamp(40px, 8vw, 40px);
    font-family: 'Inter', sans-serif;
    padding: 7px;
    border-radius: 10px;
}

h2 {
    background: #AF2F33;
    color: white;
    margin-top: 300px;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
}

h3 {
    background: #AF2F33;
    color: white;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    padding: 7px;
    border-radius: 10px;
}
h5 {
    color: #050505;
    font-size: clamp(40px, 8vw, 40px);
    font-weight: normal; 
    font-family: 'Inter', sans-serif;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h6 {
    color: #050505;
    font-size: clamp(2px, 8vw, 30px);
    font-weight: normal; 
    font-family: 'Inter', sans-serif;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    position: sticky;
    width: 100.50%;
    top: 0;
    background: #AF2F33;
    color: white;
    padding: 15px 5%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.logo {
    font-size: clamp(24px, 4vw, 34px);
    font-weight: bold;
}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    gap: clamp(20px, 5vw, 70px);
    flex-wrap: wrap;
}

.right ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.right li:not(:last-child)::after {
    content: '|';
    margin: 0 10px;
    color: white;
    font-weight: bold;
    display: inline;
}

li a {
    color: #e0e0e0;
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: white;
    color: #AF2F33;
    border-radius: 10px;
}

.find-blood-btn {
    color: #AF2F33;
    background-color: white;
    padding: 10px 18px;
    font-size: clamp(14px, 2vw, 18px);
    border: 0;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.find-blood-btn:hover {
    background-color: #AF2F33;
    padding: 10px 18px;
    border-radius: 50px;
    color: white;
}

.slideshow-container {
    width: 90%;
    max-width: 1200px;
    margin-top: 10vh;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
}

.slides {
    display: flex;
    width: 400%;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5%;
    background-color: rgba(133, 133, 133, 0.2);
    border-radius: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.slide h3 {
    font-size: clamp(20px, 3vw, 26px);
    font-family: 'Inter', sans-serif;
    color: #222;
}

.slide p {
    font-size: clamp(14px, 2vw, 18px);
    color: #444;
    margin-top: 10px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
    margin-left: -70px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

.contact-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-left: 5px solid #AF2F33;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.contact-item h3 {
    font-size: 18px;
    color: #AF2F33;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

footer {
    background-color: #AF2F33;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    padding: 40px 0;
    text-align: center;
    width: 100vw;

}

.contact-footer-wrapper {
    width: 100%;
    background-color: #AF2F33;
    padding: 40px 5%;
    margin-top: auto;
  }

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.footer-left,
.footer-right {
    flex: 1 1 45%;
    min-width: 300px;
    margin-bottom: 20px;
}

.footer-left h3,
.footer-right h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 14px;
    margin: 8px 0;
    color: #ccc;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.social-icons img:hover {
    opacity: 0.8;
}


.app-link {
    display: block;
    margin-top: 10px;
    color: #ccc;
    text-decoration: underline;
    font-size: 14px;
}




 @media (max-width: 1024px) {
    nav ul{
        gap: 30px;
    }
    li a {
        font-size: 18px;
    }
} 

@media (max-width: 768px) {
    .slider {
        width: 400%;
    }

    .slide {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav {
        justify-content: space-between;
        flex-direction: column;
    }

    .find-blood-btn {
        width: 100%;
        text-align: center;
    }
    li a{
        font-size: 16px;
        padding: 8px 12px;
    }
    .btn {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header{
        padding: 10px 5%;
    }
    
    h1 {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }

    h2 {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }

    .slide {
        padding: 10%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    li a{
        font-size: 14px;
        padding: 6px 10px;
    }
    
}
